.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.4rem auto;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
  button {
    border: none;
    border-radius: var(--border-radius-btn);
    margin: 2px;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--color-accent);
    }
    &.active {
      background-color: var(--color-accent);
      color: var(--color-white);
    }
    &:disabled {
      cursor: not-allowed;
      background: none;
    }
  }
}
