@import "../../Stylesheets/main.scss";

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba($color: #111111, $alpha: 0.8);
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease;

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      color: var(--color-accent);
      transform: rotate(45deg);
    }
  }
  &__photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    img {
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }
  &__dets {
    height: 85%;
    overflow-y: scroll;
    position: relative;
    width: 55%;
    text-align: left;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 7px;
    border: 1px solid #ededed;
    box-shadow: 2px 2px 7px 2px #242424;
    color: var(--color-black);

    @include respond(tab) {
      width: 80%;
    }

    @include respond(phone) {
      width: 90%;
      padding: 1rem;
    }

    .button {
      margin-bottom: auto;
    }

    .subHeading {
      font-family: var(--font-base);
    }
    &-map {
      width: 100%;
      height: 50%;
    }
    .hours {
      font-size: 0.8rem;
    }
    &_reviews {
      display: flex;
      //scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      overflow-x: scroll;
      width: 100%;
      &-review {
        //scroll-snap-align: start;
        min-width: 85%;
        //scroll-snap-stop: always;
        background-color: #f5f5f5;
        border-radius: 7px;
        border: 1px solid #ededed;
        box-shadow: 0px 1px 1px 1px #dedede;
        padding: 1rem;
        margin: 0.6rem 1rem 1.5rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .rating {
          color: var(--color-accent);
        }
        .reviewer {
          margin: 5px 0;
        }
      }
    }
  }
}
