@import "../../Stylesheets/main.scss";

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba($color: #111111, $alpha: 0.8);
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease;

  .close {
    position: absolute;
    top: 1rem;
    left: 3rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      color: var(--color-accent);
      transform: rotate(90deg);
    }
    @include respond(phone) {
      left: 1rem;
    }
  }
  .button {
    background-color: var(--color-main);
    color: var(--color-btn);
    border: none;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    transition: all 0.5s ease;
    width: fit-content;
    padding: 0.6rem 1rem;
    margin: 1rem 0;
    &:hover {
      background-color: var(--color-accent);
      color: var(--color-main);
    }
  }

  &__photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    img {
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }

  &__dets {
    height: 100%;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    text-align: left;
    padding: 3rem;
    background-color: var(--color-btn);
    color: var(--color-white);

    &::-webkit-scrollbar {
      display: none;
    }

    @include respond(phone) {
      padding: 1rem;
    }
    aside {
      background-color: blue;
    }
    .subHeading {
      font-family: var(--font-base);
    }

    &-hours {
      font-size: 0.9rem;
      font-weight: normal;
    }
    &-flex {
      display: grid;
      grid-template-columns: 60% 20%;
      grid-gap: 10%;
      align-items: flex-start;
    }
    &_reviews {
      display: flex;
      //scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      overflow-x: scroll;
      width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
      &-review {
        //scroll-snap-align: start;
        min-width: 85%;
        //scroll-snap-stop: always;
        background-color: #f5f5f5;
        border-radius: 7px;
        border: 1px solid #ededed;
        box-shadow: 0px 1px 1px 1px #dedede;
        padding: 1rem;
        margin: 0.6rem 1rem 1.5rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .rating {
          color: var(--color-accent);
        }

        .reviewer {
          margin: 5px 0;
        }
      }
    }
  }
}
