@import "../../Stylesheets/main.scss";

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-btn);
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease;

  .close {
    position: absolute;
    top: 1rem;
    left: 3rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      color: var(--color-accent);
      transform: rotate(90deg);
    }
    @include respond(phone) {
      left: 1rem;
    }
  }
  .button {
    background-color: var(--color-main);
    color: var(--color-btn);
    border: none;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    transition: all 0.5s ease;
    width: fit-content;
    padding: 0.6rem 1rem;
    margin: 1rem 0;
    &:hover {
      background-color: var(--color-accent);
      color: var(--color-main);
    }
  }

  &__photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    img {
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }

  &__dets {
    height: 100%;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    max-width: 1512px;
    text-align: left;
    padding: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    color: var(--color-white);

    &::-webkit-scrollbar {
      display: none;
    }

    @include respond(phone) {
      padding: 2rem 1rem;
    }

    .subHeading {
      font-family: var(--font-base);
      margin-top: 0;
    }

    &-hours {
      font-size: 0.9rem;
      font-weight: normal;
      > * {
        margin: 0.4rem 0;
      }
    }
    &-flex {
      display: grid;
      grid-template-columns: 60% 5% 25%;
      grid-gap: 5%;
      align-items: flex-start;
      @include respond(tabport) {
        grid-template-columns: 100%;
        grid-gap: 0;
      }
      .options {
        display: flex;
        margin-bottom: 0.6rem;
        @include respond(phone) {
          flex-direction: column;
        }
        > * {
          margin: 0 1rem;
        }
      }
      .line {
        border-left: 1px solid #34142e;
        height: 60%;
        margin: auto;
      }
    }
    &-wrapper {
      margin-top: auto;
    }

    &_reviews {
      display: flex;
      //scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      overflow-x: scroll;
      width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
      &-review {
        //scroll-snap-align: start;
        overflow-y: scroll;
        min-width: 300px;
        //scroll-snap-stop: always;
        background-color: inherit;
        border-radius: 7px;
        border: 1px solid var(--color-main);
        box-shadow: 0px 1px 1px 1px var(--color-main);
        padding: 1rem;
        margin: 0.6rem 1rem 1.5rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 0.9rem;

        &::-webkit-scrollbar {
          display: none;
        }
        .rating {
          color: var(--color-main);
          align-items: center;
          margin-bottom: 0.6rem;
          > * {
            margin: 0 0.4rem;
          }
        }

        .reviewer {
          margin: 5px 0;
          font-size: 1rem;
        }
      }
    }
  }
}
