@import "../../../Stylesheets/main.scss";

.others {
  padding: 3rem;
  text-align: center;
  @include respond(phone) {
    padding: 1rem;
  }
  &__wrapper {
    display: grid;
    margin-top: 2rem;
    padding: 2rem 5rem;
    grid-template-columns: 46% 46%;
    grid-gap: 8%;
    justify-content: center;

    @include respond(tabport) {
      grid-template-columns: 100%;
      padding: 1rem;
    }

    &_card {
      border: 12px solid var(--color-btn);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      text-decoration: none;
      position: relative;
      overflow: hidden;

      h3 {
        // position: absolute;
        // bottom: -1rem;
        // left: 0;
        // right: 0;
        padding: 10px;
        background: var(--color-btn);
        color: var(--color-white);
        font-family: var(--font-base);
        font-size: 1.5rem;
      }

      img {
        border-radius: inherit;
        width: 100%;
        object-fit: cover;
        transition: all 0.6s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
