@import "../../../Stylesheets/main.scss";

.app {
  &__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: transparent;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 5;
    position: absolute;
    top: 0;
    @include respond(tabport) {
      padding: 1rem;
    }

    &-logo {
      font-family: var(--font-base);
      color: var(--color-black);
      letter-spacing: 0.04em;
      font-size: 1.5rem;
      font-weight: 700;
      cursor: pointer;
      transition: 0.5s ease;

      &:hover {
        transform: translateX(9px);
      }

      @include respond(sm) {
        font-size: 0.9rem;
      }
    }

    &-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include respond(tabport) {
        display: none;
      }

      li {
        cursor: pointer;
        margin: 0 1rem;

        a {
          font-size: 1.08rem;
          text-transform: capitalize;
          font-weight: bold;
          color: var(--color-black);
          transition: 1s ease;
          &:hover {
            color: var(--color-accent);
            border-bottom: 1px solid var(--color-accent);
          }
        }
      }
    }

    &-button {
      width: fit-content;
      padding: var(--padding-btn);
      border: 1px solid var(--color-accent);
      background-color: transparent;
      border-radius: var(--border-radius-btn);
      color: var(--color-accent);
      text-align: center;
      transition: 0.5s ease;
      &:hover {
        background-color: var(--color-accent);
        color: var(--color-main);
      }
    }

    &-mobile {
      display: none;
      margin-right: 20px;

      @include respond(tabport) {
        display: flex;
      }

      &_overlay {
        background-color: var(--color-black);
        transition: 0.5s ease-in-out;
        display: flex;
        color: var(--color-main);
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 5;

        .overlay-close {
          display: flex;
          position: absolute;
          right: 1rem;
          top: 1rem;
          cursor: pointer;
        }
      }

      &-links {
        li {
          margin: 2rem 0;
          transition: 0.3s ease-in-out;
          font-size: 2.5rem;
          text-align: center;
          font-family: var(--font-base);

          &:hover {
            color: var(--color-accent);
            transform: translateX(10px);
          }

          @include respond(phone) {
            font-size: 1.9rem;
          }

          @include respond(sm) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
