@import "../../../Stylesheets/main.scss";

.app {
  &__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // background: transparent;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 5;
    position: absolute;
    background-color: var(--color-main);
    top: 0;
    height: 80px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    @include respond(tabport) {
      padding: 1rem;
    }
    &-user {
      position: relative;
      margin-left: 1rem;
    }
    &-profile {
      &_flex {
        display: flex;
        cursor: pointer;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 0.4rem;
        }
        p {
          font-weight: bold;
        }
      }
      &_show {
        background-color: rgba($color: #000000, $alpha: 0.2);
        position: absolute;
        width: 100%;
        right: 0;
        top: 2.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
        li {
          margin: 0.2rem 0 !important;
          a {
            padding: 0.3rem;
            color: var(--color-black) !important;
          }
        }
      }
    }
    &-logo {
      img {
        width: 80px;
        margin: -16px;
      }
      color: var(--color-accent);
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        transform: translateX(9px);
      }
    }

    &-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include respond(tabport) {
        display: none;
      }

      li,
      a {
        cursor: pointer;
        margin: 0 1rem;
        font-weight: bold;
        font-size: 1.08rem;
        text-transform: capitalize;
        color: var(--color-black);
        transition: 1s ease;
        &:hover {
          color: var(--color-accent);
          border-bottom: 1px solid var(--color-accent);
        }
      }
    }

    &-button {
      font-size: 1.08rem;
      width: fit-content;
      padding: var(--padding-btn);
      border: 1px solid var(--color-accent);
      background-color: transparent;
      border-radius: var(--border-radius-btn);
      color: var(--color-accent);
      text-align: center;
      transition: 0.5s ease;
      margin-left: auto;

      @include respond(phone) {
        font-size: 0.9rem;
        padding: 4px;
      }
      @include respond(sm) {
        font-size: 0.8rem;
        padding: 2px;
      }
    }

    &-mobile {
      display: none;
      // margin-right: 20px;

      @include respond(tabport) {
        display: flex;
      }

      &_overlay {
        background-color: var(--color-btn);
        transition: 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 5;

        .overlay-close {
          display: flex;
          position: absolute;
          right: 1rem;
          top: 1rem;
          cursor: pointer;
        }
      }

      &-links {
        li {
          margin: 2rem 0;
          text-align: center;

          a {
            color: var(--color-main);
            font-family: var(--font-base);
            font-size: 3.5rem;
            transition: 0.6s ease;
            &:hover {
              color: var(--color-accent);
              margin-right: 1.5rem;
            }

            @include respond(phone) {
              font-size: 2.5rem;
            }

            @include respond(sm) {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
