@import "../../../Stylesheets/main.scss";

.spots {
  background-color: #f5f5f5;
  padding: 3rem;
  margin-top: 3rem;
  text-align: center;

  @include respond(phone) {
    padding: 2rem;
  }

  &__inner {
    width: 100%;
  }

  &__wrapper {
    display: grid;
    grid-gap: 2rem;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-content: center;
    text-align: center;

    @include respond(tab) {
      grid-template-columns: 50% 50%;
    }

    @include respond(phone) {
      grid-template-columns: 100%;
    }

    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: var(--color-btn);
      border-radius: 7px;
      border: 1px solid #ededed;
      box-shadow: 0px 1px 1px 1px #dedede;
      transition: 0.5s ease;
      padding-top: 1rem;
      &-dets {
        border-radius: inherit;
        width: 100%;
        display: flex;
        color: var(--color-white);
        justify-content: space-between;
        padding: 7px 12px;
        font-weight: bold;

        p {
          text-transform: lowercase !important;
          font-size: 0.8rem;
        }
      }
    }
  }
}
