@import "../../../Stylesheets/main.scss";

.spots {
  padding: 2rem;
  text-align: center;

  @include respond(phone) {
    padding: 1rem;
  }

  &__inner {
    width: 100%;
  }

  &__wrapper {
    display: grid;
    grid-gap: 2rem;
    margin-top: 1rem;
    grid-template-columns: 32% 32% 32%;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include respond(tabland) {
      grid-template-columns: 50% 50%;
    }
    @include respond(tabport) {
      grid-template-columns: 100%;
    }

    &_item {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      background-color: var(--color-btn);
      border-radius: 7px;
      border: 1px solid #ededed;
      box-shadow: 0px 1px 1px 1px #dedede;
      transition: 0.5s ease;
      padding: 1.5rem;
      h3 {
        color: var(--color-white);
        font-size: 2rem;
        font-family: var(--font-base);
        margin: 0.5rem 0;
      }
      .fav {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.3rem;
        // background-color: var(--color-accent);
        color: var(--color-accent);
        border-radius: 0 0 0 7px;
        font-size: 1.3rem;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover {
          // background-color: var(--color-main);
          color: var(--color-accent);
        }
      }
      &-dets {
        width: 100%;
        display: flex;
        color: var(--color-white);
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        opacity: 0.6;
        margin: 1rem 0;
        .rating {
          color: var(--color-main);
        }
      }
      button {
        background-color: var(--color-main);
        color: var(--color-accent);
        width: 100%;
        padding: 0.7rem;
        border: 1px solid var(--color-main);
        border-radius: var(--border-radius-btn);
        margin: 1rem auto;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: all 0.5s ease;
        &:hover {
          border: 1px solid var(--color-main);
          background: transparent;
          color: var(--color-main);
        }
      }
    }
  }
}
