@import "../../../Stylesheets/main.scss";

.spots {
  background-color: #f5f5f5;
  padding: 3rem;
  margin-top: 3rem;

  @include respond(phone) {
    padding: 1rem;
  }

  &__wrapper {
    display: grid;
    grid-gap: 2rem;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // max-width: 1350px;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include respond(tab) {
      grid-template-columns: 50% 50%;
    }

    @include respond(phone) {
      grid-template-columns: 100%;
    }

    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #f5f5f5;
      border-radius: 7px;
      border: 1px solid #ededed;
      box-shadow: 0px 1px 1px 1px #dedede;
      transition: 0.5s ease;
      padding-top: 1rem;
      //cursor: pointer;

      // &:hover {
      //     border-color: var(--color-accent);
      //     box-shadow: 1px 2px 2px var(--color-accent);
      // }

      .subHeading {
        margin: 1.3rem 0;
        font-size: 1.4rem;
      }

      &-dets {
        border-radius: inherit;
        width: 100%;
        display: flex;
        color: var(--color-gray);
        justify-content: space-between;
        padding: 7px 12px;
        font-weight: bold;

        p {
          text-transform: lowercase !important;
          font-size: 0.8rem;
        }
      }
    }
  }
}
