@import "../../../Stylesheets/main.scss";

.slider {
  align-self: center;

  &__container {
    @include respond(phone) {
      display: none;
    }

    @include respond(tab) {
      margin-top: 155px;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
