@import "../../../Stylesheets/main.scss";

.tweets {
  padding: 3rem;
  text-align: center;

  // background-color: #f5f5f5;

  @include respond(phone) {
    padding: 1rem;
  }

  &__wrapper {
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    &_item {
      width: 90%;
      margin-right: 2rem;
      height: 20rem;

      @include respond(tabport) {
        width: 70%;
        margin-right: 1.8rem;
      }

      @include respond(phone) {
        width: 90%;
        margin-right: 1rem;
      }
    }
  }
}
