@import "../../../Stylesheets/main.scss";

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include respond(tabport) {
    height: 70vh;
  }

  @include respond(phone) {
    height: 100vh;
  }

  &::before {
    content: "";
    z-index: -2;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 22000px 0;
    border-top-color: var(--color-main) !important;
    background-color: var(--color-main);
    height: 100%;
    width: 100%;
    border: 15px solid rgb(244, 224, 77);

    @include respond(tabport) {
      border-radius: 0 0 0 0;
      border: none;
    }
  }

  &__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    width: 100%;
    max-width: 1440px;
    margin: auto;

    @include respond(tabport) {
      grid-template-columns: 100%;
    }
  }

  &__info {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    margin-left: 7%;

    @include respond(tabland) {
      margin: 0;
    }

    &-text {
      display: block;
      padding: 1rem 0;
      max-width: 380px;
    }

    h1 {
      font-size: 3rem;
      font-weight: 900;
      color: var(--color-black);
      font-family: var(--font-base);

      @include respond(tab) {
        font-size: 2.8rem;
      }

      @include respond(phone) {
        font-size: 2rem;
      }

      @include respond(sm) {
        font-size: 1.6rem;
      }

      em {
        color: var(--color-accent);
        font-style: italic;
      }
    }
  }

  .slider {
    @include respond(tabport) {
      display: none;
    }
  }
}

.pry__button {
  width: fit-content;
  padding: var(--padding-btn);
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  border-radius: var(--border-radius-btn);
  color: var(--color-white);
  text-align: center;
  transition: 0.5s ease;

  &:hover {
    border-color: var(--color-accent);
    color: var(--color-accent);
    background: transparent;
  }

  @include respond(sm) {
    font-size: 0.9rem;
    padding: 0.4rem 1.1rem;
  }
}
