@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
:root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Quicksand", sans-serif;
  --color-accent: #af1b3f;
  --color-main: #ecd444;
  --color-black: #2d2d2d;
  --color-gray: #858585;
  --color-btn: #1c0b19;
  --color-white: #f7f7f7;
  --border-radius-btn: 18px;
  --padding-btn: 0.7rem 1.2rem;
  --padding-btn-sm: 0.2rem 0.8rem;
  --box-shadow: 0px 1px 1px 1px #555;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--color-black);
  font-family: var(--font-alt);
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1512px) {
  body {
    font-size: 17px;
  }
}

h1 {
  line-height: 1.4;
}
p {
  line-height: 1.4;
  font-weight: normal;
  margin: 0.5rem 0;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-alt);
}
li {
  list-style: none;
  display: flex;
  align-items: center;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.accent {
  color: var(--color-accent) !important;
}

.d-flex {
  display: flex;
}
